[submodule "submodules/enkiTS"]
	path = submodules/enkiTS
	url = https://github.com/dougbinks/enkiTS
[submodule "submodules/CrossWindow"]
	path = submodules/CrossWindow
	url = https://github.com/alaingalvan/CrossWindow
[submodule "CrossWindow-Graphics"]
	path = CrossWindow-Graphics
	url = https://github.com/alaingalvan/CrossWindow-Graphics.git
